<app-header pageTitle="Dashboard" btnTitle="Criar Projeto"></app-header>
<section class="sidebar">
  <app-sidebar></app-sidebar>
</section>
<main>
  <section class="projects">
    <app-card
      cardTitle="Campanha de Google Ads"
      cardDescription="Campanha de lançamento com palavras-chave específicas"
    ></app-card>
    <app-card
      cardTitle="Campanha de Google Ads"
      cardDescription="Campanha de lançamento com palavras-chave específicas"
    ></app-card>
    <app-card
      cardTitle="Campanha de Google Ads"
      cardDescription="Campanha de lançamento com palavras-chave específicas"
    ></app-card>
    <app-card
      cardTitle="Campanha de Google Ads"
      cardDescription="Campanha de lançamento com palavras-chave específicas"
    ></app-card>
    <app-card
      cardTitle="Campanha de Google Ads"
      cardDescription="Campanha de lançamento com palavras-chave específicas"
    ></app-card>
    <app-card
      cardTitle="Campanha de Google Ads"
      cardDescription="Campanha de lançamento com palavras-chave específicas"
    ></app-card>
  </section>
  <button><i class="fas fa-chevron-down"></i>Ver mais</button>
  <section class="summary">
    <app-divider dividerTitle="Resumo"></app-divider>
    <div class="summary__charts">
      <app-card
        cardTitle="Campanha de Google Ads"
        cardDescription="Campanha de lançamento com palavras-chave específicas"
      ></app-card>
      <app-card
        cardTitle="Campanha de Google Ads"
        cardDescription="Campanha de lançamento com palavras-chave específicas"
      ></app-card>
      <app-card
        cardTitle="Campanha de Google Ads"
        cardDescription="Campanha de lançamento com palavras-chave específicas"
      ></app-card>
    </div>
  </section>
</main>
