<app-header
  pageTitle="Dashboard"
  btnTitle="Criar Projeto"
  [routerLink]="['/novo-projeto']"
></app-header>
<section class="sidebar">
  <app-sidebar></app-sidebar>
</section>
<main>
  <section class="projects">
    <app-card-grid>
      <a [routerLink]="['/projeto']">
        <app-card-item
          cardTitle="Título do Projeto"
          cardDescription="Descrição rápida do projeto ou informações de destaque"
        ></app-card-item>
      </a>
      <a [routerLink]="['/projeto']">
        <app-card-item
          cardTitle="Título do Projeto"
          cardDescription="Descrição rápida do projeto ou informações de destaque"
        ></app-card-item>
      </a>
      <a [routerLink]="['/projeto']">
        <app-card-item
          cardTitle="Título do Projeto"
          cardDescription="Descrição rápida do projeto ou informações de destaque"
        ></app-card-item>
      </a>
    </app-card-grid>
  </section>
  <a [routerLink]="['/projetos']" class="btn">
    <app-btn-no-border btnTitle="Ver Mais"
      ><i class="fas fa-chevron-down"></i
    ></app-btn-no-border>
  </a>
  <section class="summary">
    <app-divider dividerTitle="Resumo"></app-divider>
    <div class="summary__charts">
      <app-card-grid>
        <app-card-charts
          cardTitle="Produtividade no Mês"
          cardDescription="Entregas de tarefas por semana"
        >
          <app-bars></app-bars>
        </app-card-charts>
        <app-card-charts
          cardTitle="Progresso da Semana"
          cardDescription="Sprints a fazer, fazendo e feitos"
        >
          <app-area></app-area>
        </app-card-charts>
        <app-card-tasks
          cardTitle="Cronograma"
          cardDescription="Prazos a cumprir este mês"
        >
        <app-calendar></app-calendar>
        </app-card-tasks>
      </app-card-grid>
    </div>
  </section>
</main>
