<app-header
  pageTitle="Dashboard"
  btnTitle="Criar Projeto"
  [routerLink]="['/novo-projeto']"
></app-header>
<section class="sidebar">
  <app-sidebar></app-sidebar>
</section>
<main>
  <app-card-grid>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
  </app-card-grid>
  <app-btn-no-border btnTitle="Ver Mais"></app-btn-no-border>
  <section class="summary">
    <app-divider dividerTitle="Resumo"></app-divider>
    <app-card-grid>
      <app-card-charts
        cardTitle="Produtividade no Mês"
        cardDescription="Semanas de Outubro de 2021"
      >
        <app-bars></app-bars>
      </app-card-charts>
      <app-card-charts
        cardTitle="Progresso da Semana"
        cardDescription="Entre os dias 04-10 de Outubro"
      >
        <app-area></app-area>
      </app-card-charts>
      <app-card-tasks
        cardTitle="Tarefas do Dia"
        cardDescription="Entregas para 08 de Outubro"
      >
        <app-task-item
          taskTitle="Título da Tarefa"
          projectTask="Projeto ao qual a tarefa pertence"
        ></app-task-item>
        <app-task-item
          taskTitle="Título da Tarefa"
          projectTask="Projeto ao qual a tarefa pertence"
        ></app-task-item>
        <app-task-item
          taskTitle="Título da Tarefa"
          projectTask="Projeto ao qual a tarefa pertence"
        ></app-task-item>
      </app-card-tasks>
    </app-card-grid>
  </section>
</main>
