<div class="task task--urgent">
  <div class="task__main">
    <input type="checkbox" name="" id="" />
    <p>Título da primeira tarefa deste sprint</p>
    <!-- <div class="task__urgency">
      <span><i class="fas fa-exclamation-triangle"></i></span>
      <p>Urgente</p>
    </div> -->
  </div>
  <div class="task__info">
    <div class="task__details">
      <div class="task__urgency">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <p>Urgente</p>
      </div>
      <div class="task__member">
        <img class="member" src="https://github.com/samantafluture.png" />
        <p>S. F.</p>
      </div>
      <div class="task__date">
        <span><i class="fas fa-calendar"></i></span>
        <p>25/10</p>
      </div>
    </div>
    <div class="actions">
      <a><i class="fas fa-pencil-alt"></i></a>
      <a><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
<div class="task task--urgent">
  <div class="task__main">
    <input type="checkbox" name="" id="" />
    <p>Título da segunda tarefa deste sprint</p>
    <!-- <div class="task__urgency">
      <span><i class="fas fa-exclamation-triangle"></i></span>
      <p>Urgente</p>
    </div> -->
  </div>
  <div class="task__info">
    <div class="task__details">
      <div class="task__urgency">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <p>Urgente</p>
      </div>
      <div class="task__member">
        <img class="member" src="https://github.com/samantafluture.png" />
        <p>S. F.</p>
      </div>
      <div class="task__date">
        <span><i class="fas fa-calendar"></i></span>
        <p>25/10</p>
      </div>
    </div>
    <div class="actions">
      <a><i class="fas fa-pencil-alt"></i></a>
      <a><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
<div class="task">
  <div class="task__main">
    <input type="checkbox" />
    <p>Outra tarefa a ser realizada porém não tão urgente</p>
  </div>
  <div class="task__info">
    <div class="task__details">
      <!-- <div class="task__urgency">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <p>Urgente</p>
      </div> -->
      <div class="task__member">
        <img class="member" src="https://github.com/samantafluture.png" />
        <p>S. F.</p>
      </div>
      <div class="task__date">
        <span><i class="fas fa-calendar"></i></span>
        <p>25/10</p>
      </div>
    </div>
    <div class="actions">
      <a><i class="fas fa-pencil-alt"></i></a>
      <a><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
<div class="task task--done">
  <div class="task__main">
    <input type="checkbox" checked />
    <p>Tarefa realizada simplificada deste sprint</p>
  </div>
  <div class="task__info">
    <div class="task__details">
      <!-- <div class="task__urgency">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <p>Urgente</p>
      </div> -->
      <div class="task__member">
        <img class="member" src="https://github.com/samantafluture.png" />
        <p>S. F.</p>
      </div>
      <div class="task__date">
        <span><i class="fas fa-calendar"></i></span>
        <p>25/10</p>
      </div>
    </div>
    <div class="actions">
      <a><i class="fas fa-pencil-alt"></i></a>
      <a><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
<div class="task task--done">
  <div class="task__main">
    <input type="checkbox" checked />
    <p>Uma tarefa realizada deste sprint</p>
  </div>
  <div class="task__info">
    <div class="task__details">
      <!-- <div class="task__urgency">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <p>Urgente</p>
      </div> -->
      <div class="task__member">
        <img class="member" src="https://github.com/samantafluture.png" />
        <p>S. F.</p>
      </div>
      <div class="task__date">
        <span><i class="fas fa-calendar"></i></span>
        <p>25/10</p>
      </div>
    </div>
    <div class="actions">
      <a><i class="fas fa-pencil-alt"></i></a>
      <a><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
<div class="task task--done">
  <div class="task__main">
    <input type="checkbox" checked />
    <p>Mais uma tarefa checked deste sprint</p>
  </div>
  <div class="task__info">
    <div class="task__details">
      <!-- <div class="task__urgency">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <p>Urgente</p>
      </div> -->
      <div class="task__member">
        <img class="member" src="https://github.com/samantafluture.png" />
        <p>S. F.</p>
      </div>
      <div class="task__date">
        <span><i class="fas fa-calendar"></i></span>
        <p>25/10</p>
      </div>
    </div>
    <div class="actions">
      <a><i class="fas fa-pencil-alt"></i></a>
      <a><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>

