form {
  border-radius: 6px;
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  margin: 0;
}

.form-infos {
  padding-right: 2rem;
  border-right: 2px solid var(--border-light);
}

.form-members {
  margin-left: 2rem;
}

input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  outline: 0;
  appearance: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1em;
  margin: 0.5rem 0;
  border-radius: 6px;
  border: none;
  background-color: var(--input-bg-light);
  margin-top: 5px;
  font-family: var( --font-rubik);
}

textarea {
  display: block;
  width: 100%;
  padding: 1.5rem;
  outline: 0;
  appearance: none;
  width: 100%;
  font-size:1rem;
  line-height: 1em;
  margin: 1.5rem 0 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: var(--input-bg-light);
  resize: vertical;
  font-family: var( --font-rubik);
}

input:focus,
textarea:focus {
  border: 1px solid var(--hover);
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid var(--alert-green);
}

.ng-invalid:not(form) {
  border-left: 5px solid var(--alert-red);
}

.alert {
  color: var(--alert-red);
}

.form-message {
  text-align: left;
  margin-top: 1.5rem;
}

.form-message .alert {
  margin-right: 0.5rem;
  font-size: 0.75rem;
}

.form-btn {
  margin-top: 3.5rem;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 80vh;
  margin-left: 0;
}

button {
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 1rem;
  padding: 0.75rem 1rem;
  margin: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1rem;
}

.btn-submit,
.btn-cancel {
  width: 100%;
  margin: 0;
}

.btn-submit {
  background-color: var(--btn-hover-bg-light);
  color: var(--bg-light);
}

.btn-submit:hover {
  background-color: var(--btn-bg-light);
  color: var(--color-light);
}

.btn-cancel {
  margin-right: 1.5rem;
  background-color: var(--btn-bg-light);
  color: var(--color-light);
}

.btn-cancel:hover {
  background-color: var(--btn-hover-bg-light);
  color: var(--bg-light);
}
