form {
  border-radius: 6px;
  border: none;
  min-width: 400px;
  max-width: 700px;
  margin: 1rem auto;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  outline: 0;
  appearance: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1em;
  margin: 0.5rem 0;
  border-radius: 6px;
  border: none;
  background-color: var(--input-bg-light);
  margin-top: 5px;
  font-family: var( --font-rubik);
}

textarea {
  display: block;
  width: 100%;
  padding: 1.5rem;
  outline: 0;
  appearance: none;
  width: 100%;
  font-size:1rem;
  line-height: 1em;
  margin: 0.5rem 0;
  border: none;
  border-radius: 6px;
  background-color: var(--input-bg-light);
  margin-top: 5px;
  resize: vertical;
  font-family: var( --font-rubik);
}

input:focus,
textarea:focus {
  border: 1px solid var(--hover);
}

.field-group {
  display: flex;
}

.field-element {
  display: flex;
  width: 100%;
}

.field-element span {
  position: absolute;
  margin-top: 0.3rem;
  padding: 1.5rem;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid var(--alert-green);
}

.ng-invalid:not(form) {
  border-left: 5px solid var(--alert-red);
}

.alert {
  color: var(--alert-red);
}

.field-message {
  text-align: right;
  margin-top: 0.5rem;
}

.field-message .alert {
  margin-right: 0.5rem;
  font-size: 0.75rem;
}

.form-btn {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 1rem;
  padding: 0.75rem 1rem;
  margin: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1rem;
}

.btn-submit,
.btn-cancel {
  width: 100%;
  margin: 0;
}

.btn-submit {
  background-color: var(--btn-hover-bg-light);
  color: var(--bg-light);
}

.btn-submit:hover {
  background-color: var(--btn-bg-light);
  color: var(--color-light);
}

.btn-cancel {
  margin-right: 1.5rem;
  background-color: var(--btn-bg-light);
  color: var(--color-light);
}

.btn-cancel:hover {
  background-color: var(--btn-hover-bg-light);
  color: var(--bg-light);
}
