<form #projectForm="ngForm">
  <div class="fieldset">
    <div class="fieldset__infos">
      <div class="info">
        <label for="title">Título</label>
        <input
          [(ngModel)]="project.title"
          #title="ngModel"
          type="text"
          placeholder="Título do projeto"
          id="title"
          name="title"
          required
          minlength="3"
        />
        <div class="alert" [hidden]="title.valid || title.pristine">
          Título é obrigatório e deve ter pelo menos 3 caracteres
        </div>
      </div>
      <div class="info">
        <label for="description">Descrição</label>
        <textarea
          [(ngModel)]="project.description"
          #description="ngModel"
          type="text"
          placeholder="Breve descrição do projeto"
          id="description"
          name="description"
          rows="4"
        ></textarea>
      </div>
      <div class="info">
        <label for="date">Data de entrega</label>
        <input
          [(ngModel)]="project.date"
          #date="ngModel"
          type="date"
          placeholder="Data de término"
          id="date"
          name="date"
          required
        />
        <div class="alert" [hidden]="date.valid || date.pristine">
          Data de entrega é obrigatória
        </div>
      </div>
      <div class="form-message">
        <span class="alert"
          ><i class="alert fas fa-exclamation-triangle fa-sm"></i>Campos
          obrigatórios</span
        >
      </div>
    </div>
    <div class="fieldset__members">
      <label for="members">Membros do projeto</label>
      <div class="members__search">
        <span><i class="fas fa-search"></i></span>
        <input
          [(ngModel)]="project.members"
          type="search"
          placeholder="Busque por membros para adicionar"
          id="members"
          name="members"
        />
      </div>
      <div class="members__selected">
        <h3>Equipe</h3>
        <div class="members">
          <div class="member">
            <img src="https://github.com/samantafluture.png" />
            <p>Nome do membro da equipe</p>
            <span><i class="fas fa-times"></i></span>
          </div>
          <div class="member">
            <img src="https://github.com/samantafluture.png" />
            <p>Nome do membro da equipe</p>
            <span><i class="fas fa-times"></i></span>
          </div>
          <div class="member">
            <img src="https://github.com/samantafluture.png" />
            <p>Nome do membro da equipe</p>
            <span><i class="fas fa-times"></i></span>
          </div>
        </div>
      </div>
      <label class="members__check"
        >Sou responsável por este projeto
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="fieldset__btns">
      <div class="form-btn">
        <button class="btn-cancel" (click)="cancel()">Cancelar</button>
        <button
          class="btn-submit"
          type="submit"
          [disabled]="!projectForm.form.valid"
        >
          {{ btnTitle }}
        </button>
      </div>
    </div>
  </div>
</form>
