form {
  border-radius: 6px;
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.fieldset__infos {
  margin: 0;
  padding-right: 2rem;
  border-right: 1px solid var(--border-light);
}

.fieldset__infos .info {
  margin-top: 1.5rem;
}

.fieldset__infos .info:first-of-type {
  margin-top: 0;
}

input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  outline: 0;
  appearance: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1em;
  margin: 0.5rem 0 0rem;
  border-radius: 6px;
  border: none;
  background-color: var(--input-bg-light);
  font-family: var(--font-rubik);
}

textarea {
  display: block;
  width: 100%;
  padding: 1.5rem;
  outline: 0;
  appearance: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1em;
  margin: 0.5rem 0 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: var(--input-bg-light);
  resize: vertical;
  font-family: var(--font-rubik);
}

input:focus,
textarea:focus {
  border: 1px solid var(--hover);
  box-shadow: rgba(0, 0, 0, 0.172549) 0 6px 12px 0;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid var(--alert-green);
}

.ng-invalid:not(form) {
  border-left: 5px solid var(--alert-red);
}

.form-message {
  text-align: left;
  margin-top: 2rem;
}

.form-message .alert {
  margin-right: 0.5rem;
  font-size: 0.85rem;
}

.fieldset__members {
  margin: 0rem;
  margin-left: 2rem;
}

.members__search {
  display: flex;
  position: relative;
}

.members__search span i {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2;
  font-size: 1.2rem;
}

.members__selected {
  margin-top: 2rem;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  border: 1px solid var(--border-light);
  border-radius: 6px;
}

.members__selected h3 {
  margin-bottom: 1.5rem;
}

.members {
  display: flex;
  flex-direction: column;
}

.member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.member:last-of-type {
  margin-bottom: 0;
}

.member img {
  align-self: flex-start;
  border-radius: 50%;
  padding: 0;
  width: 32px;
  margin-right: 0.5rem;
  margin-left: 0;
}

.member p {
  text-align: left;
  color: var(--subtitle-light);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.member span {
  margin-right: 0;
  align-self: center;
  justify-self: flex-end;
}

.member span:hover {
  color: var(--border-light);
}

.members__check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 2rem;
}

.members__check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--btn-bg-light);
  border-radius: 6px;
}

.members__check:hover input ~ .checkmark {
  background-color: var(--btn-bg-light);
}

.members__check input:checked ~ .checkmark {
  background-color: var(--hover);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.members__check input:checked ~ .checkmark:after {
  display: block;
}

.members__check .checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fieldset__btns {
  margin: 0;
}

.form-btn {
  margin-top: 2.5rem;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 80vh;
  margin-left: 0;
}

button {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 1rem;
  padding: 0.75rem 1rem;
  margin: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1rem;
}

.btn-submit,
.btn-cancel {
  width: 100%;
  margin: 0;
}

.btn-submit {
  background-color: var(--alert-green);
  color: var(--bg-light);
}

.btn-submit:hover {
  background-color: var(--hover);
}

.btn-cancel {
  margin-right: 1.5rem;
  background-color: var(--btn-bg-light);
  color: var(--color-light);
}

.btn-cancel:hover {
  background-color: var(--btn-hover-bg-light);
  color: var(--bg-light);
}

.alert {
  color: var(--alert-red);
  margin: 0;
  padding-top: 0.5rem;
}

i {
  cursor: pointer;
}

