header {
  margin-bottom: 2rem;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
}

header h1 {
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  margin-left: 0;
}

header a {
  background-color: var(--btn-bg-light);
  color: var(--btn-color-light);
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 1.2rem;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 8px;
  margin-right: 2rem;
  cursor: pointer;
}

header a:hover {
  background-color: var(--btn-hover-bg-light);
  color: var(--btn-hover-color-light);
}

header .menu-mobile {
  display: none;
  visibility: hidden;
  opacity: 0;
}

aside {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.mobile aside {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1024px) {
  header {
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;
  }

  header h1 {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  header .menu-mobile {
    margin-left: 0;
    display: block;
    opacity: 1;
    visibility: visible;
  }

  i {
    color: var(--color-light);
    font-size: 1.25rem;
    padding-left: 1.5rem;
  }

  header a {
    padding: 0.25rem 1rem;
    margin: 0.5rem 1.5rem 0.5rem 0;
    font-weight: 400;
  }

  aside {
    visibility: visible;
    opacity: 1;
    display: block;
    float: none;
    width: 80%;
    position: fixed;
    z-index: 9999999999;
    height: 100vh;
  }

  aside img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    margin: 0.5rem 0 0 0.5rem;
    width: 50%;
  }
}
