button {
  margin: 0;
  background-color: transparent;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 1rem;
  border: none;
  cursor: pointer;
  padding: 1.5rem;
}

button:hover {
  color: var(--hover);
}

button i {
  margin-right: 0.75rem;
}


@media (max-width: 1024px) {
  button {
    padding: 0 0 1.5rem 0;
  }
}
