.list-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-projects h2 {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .list-projects {
    margin-bottom: 2rem;
  }

  .list-projects h2 {
    visibility: visible;
    opacity: 1;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    text-align: left;
  }

  .projects {
    margin: 0 1rem;
  }

}
