<app-header
  pageTitle="Meus Projetos"
  btnTitle="Criar Projeto"
  [routerLink]="['/novo-projeto']"
></app-header>
<section class="sidebar">
  <app-sidebar></app-sidebar>
</section>
<main>
  <app-card-grid>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
    <a [routerLink]="['/projeto']">
      <app-card-item
        cardTitle="Título do Projeto"
        cardDescription="Descrição rápida do projeto ou informações de destaque"
      ></app-card-item>
    </a>
  </app-card-grid>
</main>

