.card {
  border: 1px solid var(--border-light);
  border-radius: 6px;
  cursor: pointer;
  width: 330px;
  min-height: 210px;
  background-color: var(--bg-light);
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.172549) 0 6px 12px 0;
}
