.card__titles {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 1rem 0 1rem;
}

.card__titles h3 {
  text-align: left;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.card__titles p {
  text-align: left;
  margin-left: 0;
  margin-bottom: 0.5rem;
  color: var(--subtitle-light);
}

.card__task {
  padding: 0.5rem 0 0.5rem 0;
}
