aside {
  float: left;
  width: 20%;
  position: fixed;
  background-color: var(--bg-light);
  z-index: 2;
}

app-header {
  cursor: pointer;
}

main {
  float: right;
  width: 80%;
}

.tasks__list {
  /* border-top: 1px solid var(--border-light); */
  margin: 0;
}

main .actions {
  margin: 0 1.5rem;
  position: absolute;
  top: 3.5%;
  /* left: 37.5% */
  right: 9%;
}

.actions > a {
  color: var(--subtitle-light);
  cursor: pointer;
  font-size: 0.75rem;
  text-decoration: none;
  padding-left: 0.75rem;
}

.actions i {
  margin-right: 0.25rem;
}

.actions a:hover {
  color: var(--hover);
}

.tasks__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.tasks__header app-btn-border {
  margin-right: 2rem;
}

.tasks__header app-divider {
  margin-left: 0;
}

.tasks__list {
  margin-bottom: 2rem;
}
