<div *ngIf="sprint$ | async as sprint">
  <app-header
    [pageTitle]="sprint.title"
    btnTitle="Voltar"
    (clickEvent)="cancel()"
  ></app-header>

  <aside>
    <app-sidebar></app-sidebar>
  </aside>

  <main>
    <div class="actions">
      <a [routerLink]="['/sprint/' + sprint.id + '/editar/']">
        <i class="fas fa-pencil-alt"></i>Editar</a
      >
      <a (click)="remove()"><i class="fas fa-trash"></i>Excluir</a>
    </div>

    <app-sprint-detail
      [description]="sprint.description"
      [projectName]="sprint.project?.title"
      [status]="sprint.status"
      [dueDate]="sprint.dueDate"
    ></app-sprint-detail>

    <section class="tasks__list">
      <div class="tasks__header">
        <app-divider dividerTitle="Tarefas do Sprint"></app-divider>
        <app-btn-border
          btnTitle="Criar Tarefa"
          (click)="create(task)"
        ></app-btn-border>
      </div>
      <app-task-list></app-task-list>
    </section>
  </main>
</div>
