<div *ngIf="sprint$ | async as sprint">
  <app-header
  [pageTitle]="sprint.title"
    btnTitle="Voltar"
    (clickEvent)="cancel()"
  ></app-header>

  <aside>
    <app-sidebar></app-sidebar>
  </aside>

  <main>

    <div class="actions">
      <a [routerLink]="['/sprint/' + sprint.id + '/editar/']">
        <i class="fas fa-pencil-alt"></i>Editar</a>
      <a (click)="remove()"><i class="fas fa-trash"></i>Excluir</a>
    </div>

    <section class="sprint__info">
      <div class="info info--desc">
        <h4><i class="fas fa-info-circle"></i>Descrição</h4>
        <p>
          Breve descrição do sprint contendo: informações importantes e/ou de
          destaque, bem como objeto e necessidades.
        </p>
      </div>
      <div class="info info--todo">
        <h4><i class="fas fa-exclamation-circle"></i>Pendente</h4>
        <p>4 Tarefas</p>
      </div>
      <div class="info info--done">
        <h4><i class="fas fa-check-circle"></i>Realizado</h4>
        <p>3 Tarefas</p>
      </div>
      <div class="info info--date">
        <h4><i class="fas fa-thermometer-half"></i>Status</h4>
        <p>A Fazer</p>
      </div>
      <div class="info info--date">
        <h4><i class="fas fa-calendar"></i>Prazo</h4>
        <p>12/10/2021</p>
      </div>
    </section>

    <section class="tasks__list">
      <div class="tasks__header">
        <app-divider dividerTitle="Tarefas do Sprint"></app-divider>
        <app-btn-border
          btnTitle="Criar Tarefa"
          (click)="create(task)"
        ></app-btn-border>
      </div>
      <app-task-list></app-task-list>
    </section>
  </main>
</div>
