<section class="dashboard">
  <app-header
  class="header"
  pageTitle="Dashboard"
  btnTitle="Criar Projeto"
  (clickEvent)="newProject()"
></app-header>

<section class="projects">
  <app-project-list [showAll]="false"></app-project-list>
</section>

<a [routerLink]="['/projetos']" class="btn">
  <app-btn-no-border btnTitle="Ver Todos"
    ><i class="fas fa-chevron-down"></i
  ></app-btn-no-border>
</a>

<section class="summary">
  <app-divider dividerTitle="Resumo"></app-divider>
  <div class="summary__charts">
    <app-card-grid>
      <app-card-charts
        cardTitle="Produtividade no Mês"
        cardDescription="Entregas de tarefas por semana"
      >
        <app-bars></app-bars>
      </app-card-charts>
      <app-card-charts
        cardTitle="Progresso da Semana"
        cardDescription="Sprints a fazer, fazendo e feitos"
      >
        <app-area></app-area>
      </app-card-charts>
      <app-card-tasks
        cardTitle="Cronograma"
        cardDescription="Prazos de Outubro de 2021"
      >
        <app-calendar></app-calendar>
      </app-card-tasks>
    </app-card-grid>
  </div>
</section>
</section>


