.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.summary {
  border-top: 1px solid var(--border-light);
  margin: 0;
}

.summary__charts {
  margin: 0 1rem 2rem;
}

i {
  margin-right: 0.5rem;
}
