.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: space-between;
  margin: 0;
}

.projects {
  margin: 0 2rem 0 2rem;
  max-width: 100vw;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.summary {
  max-width: 100vw;
  border-top: 1px solid var(--border-light);
  margin: 0 2rem 2rem 2rem;
}

i {
  margin-right: 0.5rem;
}

.dashboard .dashboard__title {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.summary__title {
  display: block;
  opacity: 1;
  visibility: visible;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
}

@media (max-width: 1024px) {
  .header {
    width: 100vw;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .dashboard .dashboard__title {
    visibility: visible;
    opacity: 1;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    text-align: left;
  }

  .projects {
    margin: 0 0 2rem 1rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .summary {
    margin-left: 0;
    width: 100%;
  }

  .summary__charts {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .summary__title {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }

}
