.dashboard {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: space-between;
  margin: 0;
}

.projects {
  margin: 0 2rem 0 2rem;
  max-width: 100vw;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.summary {
  border-top: 1px solid var(--border-light);
  margin: 0 2rem 2rem 2rem;
}

i {
  margin-right: 0.5rem;
}

.dashboard h2 {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@media (max-width: 1024px) {
  .header {
    width: 100vw;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .dashboard h2 {
    visibility: visible;
    opacity: 1;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: left;
  }

  .dashboard .btn {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .projects {
    margin: 0 0 2rem 1rem;
    max-width: 100vw;
    overflow-x: scroll;
  }

  .summary {
    margin-left: 1rem;
  }

  .summary__charts {
    width: 100vw;
    overflow-x: scroll;
  }
}
