aside {
  float: left;
  width: 20%;
  position: fixed;
  background-color: var(--bg-light);
  z-index: 2;
}

main {
  float: right;
  width: 80%;
}

@media (max-width: 1024px) {
  aside {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    float: none;
    margin: 0;
    /* overflow: hidden; */
  }
}
