<app-header
  pageTitle="Título do Projeto"
  btnTitle="Criar Sprint"
  [routerLink]="['/']"
></app-header>
<section class="sidebar">
  <app-sidebar></app-sidebar>
</section>
<main>
  <section class="kanban-boards">
    <div class="board board--todo">
      <div class="board__header">
        <h3>A Fazer</h3>
        <a href="#"><i class="fas fa-plus-circle"></i></a>
      </div>
      <app-card-item
        cardTitle="Título do Sprint"
        cardDescription="Descrição rápida desta fase do projeto e informações de destaque"
      ></app-card-item>
      <app-card-item
        cardTitle="Título do Sprint"
        cardDescription="Descrição rápida desta fase do projeto e informações de destaque"
      ></app-card-item>
    </div>
    <div class="board board--doing">
      <div class="board__header">
        <h3>Fazendo</h3>
        <a href="#"><i class="fas fa-plus-circle"></i></a>
      </div>
      <app-card-item
        cardTitle="Título do Sprint"
        cardDescription="Descrição rápida desta fase do projeto e informações de destaque"
      ></app-card-item>
      <app-card-item
        cardTitle="Título do Sprint"
        cardDescription="Descrição rápida desta fase do projeto e informações de destaque"
      ></app-card-item>
      <app-card-item
        cardTitle="Título do Sprint"
        cardDescription="Descrição rápida desta fase do projeto e informações de destaque"
      ></app-card-item>
    </div>
    <div class="board board--done">
      <div class="board__header">
        <h3>Feito</h3>
        <a href="#"><i class="fas fa-plus-circle"></i></a>
      </div>
      <app-card-item
        cardTitle="Título do Sprint"
        cardDescription="Descrição rápida desta fase do projeto e informações de destaque"
      ></app-card-item>
    </div>
  </section>
</main>
