<section *ngIf="project$ | async as project" class="view-project">
  <app-header
    class="header"
    [pageTitle]="project.title"
    btnTitle="Criar Sprint"
    (clickEvent)="newSprint()"
  >
  </app-header>

  <h2>{{ project.title }}</h2>
  <div class="actions">
    <a (click)="edit()"><i class="fas fa-pencil-alt"></i><span class="actions-title">Editar</span></a>
    <a (click)="remove()"><i class="fas fa-trash"></i><span class="actions-title">Excluir</span></a>
  </div>

  <app-project-detail
    [title]="project.title"
    [description]="project.description"
    [dueDate]="project.dueDate"
  ></app-project-detail>

  <app-sprint-list
    [project]="project"
    [projectId]="project.id"
    (clickEvent)="newSprint()"
  ></app-sprint-list>
</section>
