aside {
  float: left;
  width: 20%;
  position: fixed;
  background-color: var(--bg-light);
  z-index: 2;
}

app-header {
  cursor: pointer;
}

main {
  float: right;
  width: 80%;
}

button {
  margin: 0;
  padding-top: 1rem;
  background-color: transparent;
  color: var(--bg-light);
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  border: none;
  cursor: pointer;

  border: 1px solid black;
}

button:hover {
  color: var(--hover);
}

main .actions {
  margin: 0 1.5rem;
  position: absolute;
  top: 3.5%;
  /* left: 37.5% */
  right: 12%;
}

.actions > a {
  color: var(--subtitle-light);
  cursor: pointer;
  font-size: 0.75rem;
  text-decoration: none;
  padding-left: 0.75rem;
}

.actions i {
  margin-right: 0.25rem;
}

.actions a:hover {
  color: var(--hover);
}
