<form #projectForm="ngForm">
  <fieldset>
    <div class="fieldset__infos">
      <div class="info">
        <label for="title">Título</label>
        <input
          [(ngModel)]="project.title"
          #title="ngModel"
          type="text"
          placeholder="Título do projeto"
          id="title"
          name="title"
          required
          minlength="3"
        />
        <div class="alert" [hidden]="title.valid || title.pristine">
          Título é obrigatório e deve ter pelo menos 3 caracteres
        </div>
      </div>
      <div class="info">
        <label for="description">Descrição</label>
        <textarea
          [(ngModel)]="project.description"
          #description="ngModel"
          type="text"
          placeholder="Breve descrição do projeto"
          id="description"
          name="description"
          rows="4"
          required
          minlength="3"
          maxlength="300"
        ></textarea>
        <div class="alert" [hidden]="description.valid || description.pristine">
          Descrição é obrigatória e deve ter no máximo 300 caracteres
        </div>
      </div>
      <div class="info">
        <label for="date">Data de entrega</label>
        <input
          [(ngModel)]="project.dueDate"
          #date="ngModel"
          type="date"
          placeholder="Data de término"
          id="date"
          name="date"
          required
        />
        <div class="alert" [hidden]="date.valid || date.pristine">
          Data de entrega é obrigatória
        </div>
      </div>
      <div class="form-message">
        <span class="alert"
          ><i class="alert fas fa-exclamation-triangle fa-sm"></i>Campos
          obrigatórios</span
        >
      </div>
    </div>
    <div class="fieldset__members">
      <label for="members">Membros do projeto</label>
      <div class="members__search">
        <!-- <span><i class="fas fa-search"></i></span> -->
        <input
          [(ngModel)]="project.members"
          type="search"
          placeholder="Busque por membros para adicionar"
          id="members"
          name="members"
          [matAutocomplete]="auto"
          [formControl]="myControl"
          #member
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="members__selected">
        <h3>Equipe</h3>
        <div class="members">
          <div class="member" *ngIf="member.value; else empty" #memberItem>
            <img src="https://i.pravatar.cc/300" />
            <p>{{ member.value }}</p>
            <span><a (click)="remove()"><i class="fas fa-times"></i></a></span>
          </div>
        </div>
      </div>
      <label class="members__check"
        >Sou responsável por este projeto
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="fieldset__btns">
      <div class="form-btn">
        <button class="btn-cancel" (click)="cancel()">Cancelar</button>
        <button
          class="btn-submit"
          type="submit"
          [disabled]="!projectForm.form.valid"
        >
          {{ btnTitle }}
        </button>
      </div>
    </div>
  </fieldset>
</form>

<ng-template #empty>
  <p class="empty">Ainda não há membros adicionados...</p>
</ng-template>
