@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

:root {
  --font-rubik: 'Rubik', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --bg-light: #ffffff;
  --color-light: #24292f;
  --border-light: #d0d7de;
  --title-light: #1e69da;
  --subtitle-light: #7d8995;
  --btn-bg-light: #e4ecf7;
  --btn-color-light: #101225;
  --btn-hover-bg-light: #1e69da;
  --btn-hover-color-light: #ffffff;
  --input-bg-light: rgba(234, 239, 247, 0.884);

  --bg-dark: #22272e;
  --color-dark: #adbac7;
  --border-dark: #444c56;
  --title-dark: #539bf5;
  --subtitle-dark: #768390;
  --btn-dark: #373e47;
  --btn-font-dark: #adbac7;
  --btn-hover-dark: #404852;

  --hover: #3754DB;
  --alert-green: #77c97b;
  --alert-red: #F26966;
  --alert-yellow: #ffdc5a;
  --urgent-red: #f2686648;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bg-light);
  color: var(--color-light);
  font-family: var(--font-rubik);
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

.charts-css.area tbody tr td:nth-of-type(10n+3)::before {
  background-color: var(--alert-green);
}

.charts-css.area tbody tr td:nth-of-type(10n+2)::before {
  background-color: var(--alert-yellow);
}

.ng-progress-bar {
  position: absolute !important;
  transition: none !important;
  z-index: 1 !important;
  box-shadow: none !important;
  border-radius: 6px !important;
}

.ng-bar-placeholder {
  height: 10px !important;
  box-shadow: none !important;
  border-radius: 6px !important;
}

.ng-bar {
  box-shadow: none !important;
  border-radius: 6px !important;
}
