<nav class="sidebar">
  <div class="sidebar__nav">
    <div class="nav__logo">
      <app-logo></app-logo>
    </div>
    <div class="nav__menu">
      <a [routerLink]="['/']"><i class="fas fa-home"></i>Dashboard</a>
      <a [routerLink]="['/projetos']" class="menu__number">
        <div><i class="fas fa-list"></i>Projetos</div>
        <span *ngIf="projects$ | async as projects; else default">
          <span>{{ projects.length }}</span>
        </span>
      </a>
      <a href="#"><i class="fas fa-calendar"></i>Cronograma</a>
      <a href="#"><i class="fas fa-chart-line"></i>Relatório</a>
      <a class="divider" [routerLink]="['/novo-usuario']"
        ><i class="fas fa-users"></i>Cadastrar Membro</a
      >
      <a href="#"><i class="fas fa-cog"></i>Configurações</a>
      <a href="#" class="menu__number">
        <div><i class="fas fa-bell"></i>Notificações</div>
        <span>2</span>
      </a>
    </div>
  </div>
  <div class="sidebar__user">
    <a href="#" class="user__profile">
      <img class="user__photo" src="https://github.com/samantafluture.png" />
      <div class="user__name">
        <p>Samanta Fluture</p>
        <p>Gerente de Projetos</p>
      </div>
    </a>
    <a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
  </div>
</nav>

<ng-template #default>
  <span>0</span>
</ng-template>
