<nav class="sidebar">
  <div class="sidebar__nav">
    <div class="nav__logo">
      <app-logo></app-logo>
    </div>
    <div class="nav__menu">
      <a [routerLink]="['/']"><i class="fas fa-home"></i>Dashboard</a>
      <a [routerLink]="['/projetos']" class="menu__number">
        <div><i class="fas fa-list"></i>Projetos</div>
        <span>6</span>
      </a>
      <a href="#"><i class="fas fa-calendar"></i>Calendário</a>
      <a href="#"><i class="fas fa-chart-line"></i>Relatório</a>
      <a href="#"><i class="fas fa-bell"></i>Configurações</a>
      <a href="#" class="menu__number">
        <div><i class="fas fa-cog"></i>Notificações</div>
        <span>3</span>
      </a>
    </div>
  </div>
  <div class="sidebar__user">
    <a href="#" class="user__profile"
      ><img
        class="user__photo"
        src="https://github.com/samantafluture.png"
      />Minha Conta</a
    >
    <a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
  </div>
</nav>
