<table id="chart-area" class="charts-css area multiple hide-data show-labels">
  <caption>Weekly Progress</caption>
  <thead>
    <tr>
      <th scope="col"> Projects </th>
      <th scope="col"> Project 1 </th>
      <th scope="col"> Project 2 </th>
      <th scope="col"> Project 3 </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> Project 1 </th>
      <td style="--start:0.1; --size:0.5;"><span class="data"> 50 </span></td>
      <td style="--start:0; --size:0.2;"><span class="data"> 20 </span></td>
      <td style="--start:0.2; --size:0.4;"><span class="data"> 40 </span></td>
    </tr>
    <tr>
      <th scope="row"> Project 2 </th>
      <td style="--start:0.5; --size:0.8;"><span class="data"> 80 </span></td>
      <td style="--start:0.2; --size:0.5;"><span class="data"> 50 </span></td>
      <td style="--start:0.4; --size:0.1;"><span class="data"> 10 </span></td>
    </tr>
    <tr>
      <th scope="row"> Project 3 </th>
      <td style="--start:0.8; --size:0.4;"><span class="data"> 40 </span></td>
      <td style="--start:0.5; --size:0.3;"><span class="data"> 30 </span></td>
      <td style="--start:0.1; --size:0.2;"><span class="data"> 20 </span></td>
    </tr>
  </tbody>
</table>
